body{
    background-color: #AAD031;
}
.navbar-default {
    min-height: 30px;
}


 .nav > li > a {
     position: relative;
     display: block;
     padding: 10px 12px;
 }
.navbar-brand {
    height: 50px;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 11px;
    line-height: 60px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 5px;
}
button{
    color: #fff;
    background-color: #008000;
}
.maincontents{
    padding-top: 90px;

}
.ordernow{
    background-color: #008000;
    max-width: 170px;
    height: 45px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.order {
    margin: 25px;
}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
.navbar-default {
    background-color: #F9EB92;
}

.middlecol{
    border: 2px solid #fff;
    margin-bottom: 40px;
    border-radius: 5px;
}
input{
    width:100%;
    border-radius: 5px;
    padding: 5px;
}
textarea{
    width:100%;
    border-radius: 5px;
}

.carousel{
    background-color: transparent;
    padding: 0px;
}
@media (min-width: 768px){
.carousel-inner{
    height: 490px;
    
    }
}
.centerbanner{
    
}

.rightbanner{
    border-radius: 5px;
    background-color: none;
    border: 2px solid #fff;
    
}
.leftbanner{
    border-radius: 5px;
    background-color: none;
    border: 2px solid #fff;
    height: 490px;
    
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.rgd{
    width: 95%;
    padding-left: 5px;
}
#pwd{
    width: 47%;
    padding-left: 5px;
}

.myac{
    border: 2px solid #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.bottomsection{
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.imgs{
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 3px;
}
.bottomborder{
    border-right: 1px solid #fff;
}

.btnn{
    background-color: #008000;
    border-color: #008000;

}

@media (max-width: 620px){
    .copyright{
        font-size: 11px;
    }
    .footergap{
        height: 28px;
    }

}
.new-togle{
    margin-top: 14px;
    margin-right: 0px;
    margin-left: 2px;
}
@media (max-width: 767px){
    .navbar-brand{
        padding:0;
    }
    .navbar-brand img{
        margin-top: 12px;
        margin-left: 0px;
    }
    .maincontents {
        padding-top: 60px;
    }
    .btn-sm, .btn-group-sm > .btn {
    padding: 5px 5px;
    }

}
@media (max-width: 284px){
    .lefttbanner {
     height: 540px;
    }
    .new-togle {
        padding-left: 2px;
        padding-right: 2px;
    }
    .footergap{
        height: 55px;
    }
   
}
.focus {
    outline: none;
    outline-color: -webkit-focus-ring-color;
    outline-style: none;
    outline-width: 5px;
}
.imgg{
    height: 490px;
    width: 250px;
}

.logd{
    margin-right: 55px;
    margin-top: -33px;
}
.pimg{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 22px;
}
.ashok{
    font-size: 12px;
    color: #008000;
}
.service{
    width: 50px;
}
.td1{
    width: 50%;
    text-align: right;
}
.save01{
    margin-top: 5px;
}


@media (min-width: 768px){
    .settings01{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}